

/* Modifies background style for index, portfolio, and contact html files*/
body{

background-image: url(./assets/images/background.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
/* ------------------------------------------------------------------------------------------- */

/* Modifies index, portfolio, and contact style for html files */


.navbar-brand{
background-color:rgb(196, 198, 199);
font-size: 15px;
margin-left: 35px;
font-size: 30px;
color:white;
  
}


.bg-light{
color:blue;
}


/* Modifies navigation links menu */
.nav-item{
text-align: center;


}
.nav-link{
color:black;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Portfolio file content modifications */

/* Modifies "Portfolio" title div*/
.portfolio{
  margin-left:-20px;
  margin-right: 20px;
  
  font-size: 50px;
  font-weight: bolder;

  padding: 0;
  
}

/* Modifies Portfolio images section */
.portfolio-images{
 padding: 20px;
 
 
}

/* modifies the images included in the portfolio images section */
.image{
  height: 250px;
  width: 250px;
}


/* ----------------------------------------------------------------------------------- */
/* Modifies style fo index html file body "main-content" */


.cold-md-4{
float: left;
word-wrap: break-word;

}

/* Modifies "About Me" title */
.col{
font-size: 50px;
font-weight: 500;
padding-left: 0;
}

/* Modifies photo and bio description section */
.row-cols-2{
margin-left: 35%;
margin-top:2%;
}



/* ------------------------------------------------------------------------------------------------------- */
/* Modifies contact file */


/* Mofidies contact form */
  .form-section{
    width: 40%;
    padding-left: 50px;
    background-color: none;
    margin-left: 30%;
    margin-top: 5%;
    margin-right:30%;
    font-weight: bold;
    padding: 0;
    
 
  }
  .form-title{
    font-size: 50px;
    font-weight: bold;
    
    
  }

  @media(max-width:450px){
 form{
 font-size: 15px;
 
 }

 .form-title{
  font-size: 25px;
  font-weight: bold;
  
  
}



  }