

/* -------------------------------------------------------------------------------- */
/* Modifies content shared by index (about), portfolio, and contact html files*/
/* -------------------------------------------------------------------------------- */

/* Modifies background image */
body{

  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Modifies navigation bar shared by index (about), portfolio, and contact style for html files */
.navbar-light .navbar-brand{
  background-color:rgb(105, 110, 112);
  margin-left: 35px;
  font-weight: bolder;
  color:white;
  font-size: 30px;
}

/* Modifies navigation contact, portfolio, and about links */
.nav-item{
  text-align: center;
  font-size: 25px;
  padding: 0;
}

/* Modifies form scalability for samlles devices */
@media(max-width:450px){
.navbar-light .navbar-brand{
    font-size: 15px;
  }

.navbar-toggler, 
.navbar-toggler-icon{
  width:25px;
  height: 30px;
  padding: 0;
  }
  }

/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to Portfolio (Portfolio page) file  */
/* -------------------------------------------------------------------------------- */

/* Modifies "Portfolio" title div*/
.portfolio{
  margin-left:-20px;
  margin-right: 20px;
  font-size: 50px;
  font-weight: bolder;
  padding: 0;
}

/* Modifies Portfolio images section */
.portfolio-images{
  padding: 20px;
}

/* modifies the images included in the portfolio images section */
.image{
  height: 250px;
  width: 250px;
}

/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to index (about page) file  */
/* -------------------------------------------------------------------------------- */


.cold-md-4{
  float: left;
  word-wrap: break-word;
}

/* Modifies "About Me" title */
.col{
  font-size: 50px;
  font-weight: 500;
  padding-left: 0;
}

/* Modifies photo and bio description section */
.row-cols-2{
  margin-left: 35%;
  margin-top:2%;
}

/* Modifies form scalability for samlles devices */
@media(max-width:450px){
.about-me{
  font-size: 25px;
  font-weight: bold;  
}
}
 
/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to contact file  */
/* -------------------------------------------------------------------------------- */

/* Mofidies contact form */
  .form-section{
    width: 40%;
    padding-left: 50px;
    background-color: none;
    margin-left: 30%;
    margin-top: 5%;
    margin-right:30%;
    font-weight: bold;
    padding: 0;
  }
  
  /* Modifies contact title for the form */
  .form-title{
    font-size: 50px;
    font-weight: bold;
  }

  /* Modifies form scalability for samlles devices */
  @media(max-width:450px){
 form{
 font-size: 15px;
 }

 /* Modifies form title scalability for smaller devices */
 .form-title{
  font-size: 25px;
  font-weight: bold;  
}



  }