

/* -------------------------------------------------------------------------------- */
/* Modifies content shared by index (about), portfolio, and contact html files*/
/* -------------------------------------------------------------------------------- */

/* Modifies background image */
body{

  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position:sticky;
  background-size: cover;
}
.navigation-bar{
background-color: red;

}

/* Modifies navigation bar shared by index (about), portfolio, and contact style for html files */
.navbar-light .navbar-brand{
  background-color:rgb(105, 110, 112);
  margin-left: 35px;
  font-weight: bolder;
  color:white;
  font-size: 30px;
}

/* Modifies navigation contact, portfolio, and about links */
.nav-item{
  text-align: center;
  font-size: 25px;
  padding: 0;
}

/* Modifies form scalability for samlles devices */
@media(max-width:450px){
.navbar-light .navbar-brand{
    font-size: 15px;
  }

.navbar-toggler, 
.navbar-toggler-icon{
  width:25px;
  height: 30px;
  padding: 0;
  }
  }


/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to Portfolio (Portfolio page) file  */
/* -------------------------------------------------------------------------------- */
 /* Modifies portfolio title*/
/* .portfolio-title{
  color: white;

} */

/* Modifies "Portfolio" title div*/

.portfolioCard{
background-color: transparent;
color: white;
margin:10px;
font-weight:600;

}

.card-link{
color:green;

}

.portfolio{
  margin-left:-20px;
  margin-right: 20px;
  font-size: 50px;
  font-weight: bolder;
  padding: 0;
  color: white;
}

/* Modifies Portfolio images section */
.portfolio-images{
  padding: 20px;
}

/* modifies the images included in the portfolio images section */
.image{
  height: 250px;
  width: 250px;
}

.footer{
background-color: navy;
color: oldlace;
height: 50px;
}

/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to index (about page) file  */
/* -------------------------------------------------------------------------------- */


.cold-md-4{
  float: left;
  word-wrap: break-word;
}

/* Modifies "About Me" title */
.col{
  font-size: 50px;
  font-weight: 500;
  padding-left: 0;
}

/* Modifies photo and bio description section */
.row-cols-2{
  margin-left: 35%;
  margin-top:2%;
}

/* Modifies form scalability for samlles devices */
@media(max-width:450px){
.about-me{
  font-size: 25px;
  font-weight: bold;  
}
}
 
/* -------------------------------------------------------------------------------- */
/* Modifies content specific only to contact file  */
/* -------------------------------------------------------------------------------- */

/* Modifies contact information Section */
.contact-info{
  position:absolute;
  color:white;
  width: 40%;
  padding-left: 50px;
  background-color: none;
  margin-left: 10px;
  margin-top: 0%;
  /* margin-right:20%; */
  font-weight: bold;
  /* padding: 0; */

}



/* Mofidies contact form */
  .form-section{
    color:white;
    width: 40%;
    padding-left: 50px;
    background-color: none;
    margin-left: 50%;
    margin-top: 0%;
    /* margin-right:20%; */
    font-weight: bold;
    /* padding: 0; */

  }
  
  /* Modifies contact title for the form */
  .form-title{
    font-size: 40px;
    font-weight: bold;
  }

  /* Modifies form scalability for samlles devices */
  @media(max-width:450px){
 form{
 font-size: 15px;
 }

 /* Modifies form title scalability for smaller devices */
 .form-title{
  font-size: 25px;
  font-weight: bold;  
}



  }